:root {
  --green: rgba(61, 122, 107, 1);
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

picture {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

article img {
  width: 80%;
  margin: auto;
  display: block;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5); /* #3d7a6b80 */
  position: relative;
}

ol {
  list-style: none;
  margin: 0;
  padding: 15px;
}

h2 {
  text-align: center;
}

main figure {
  display: flex;
  flex-direction: column;
}

.Psy {
  background-color: #f366b9;
  border: 10px solid #f366b9;
}
.Roche {
  background-color: #a38c21;
  border: 10px solid #a38c21;
}
.Spectre {
  background-color: #7b62a3;
  border: 10px solid #7b62a3;
}
.Dragon {
  background-color: #f16e57;
  border: 10px solid #f16e57;
}
.Tenebres {
  background-color: #707070;
  border: 10px solid #707070;
}

.lmj-layout-inner {
  display: flex;
  flex-direction: row;
}