.lmj-cart {
  color: white;
  background-color: #ef4036;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15rem;
  z-index: 99;
  animation: fadeIn 1s;
  border-radius: 0 5px 5px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lmj-cart-add-button {
  margin-left: 2rem;
  cursor: pointer;
}

.lmj-cart-toggle-button {
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  align-self: self-start;
  padding: 0;
  color: white;
  align-self: flex-end;
}

.lmj-cart-closed {
  padding: 2rem;
  background-color: #ef4036;
  position: absolute;
  z-index: 99;
  border-radius: 0 5px 5px 0;
}

.lmj-cart-closed > button {
  color: white;
}

main {
  position: relative;
  width: 100%;
}
